<section class="category">
    <div class="item pic1">
        <div class="wrapped-item">
            <h1>gummies</h1>
            <h2>Vitamins & Supplements</h2>
            <a href="/collections/gummie-vitamins" class="item_but">explore</a>
        </div>
    </div>
    <div class="item pic2">
      <div class="wrapped-item">
        <h1>Daily Essential</h1>
        <h2>Vitamins & Supplements</h2>
        <a href="/collections/daily-essentials" class="item_but">explore</a>
      </div>
    </div>
</section>